@model ShopBridge.ViewModels.ItemsViewModel
@{
    /**/
    var title = (Model.Items == null) ? "New Item" : "Edit Item";
    ViewBag.Title = "AddItem";
}

<h2>@title</h2>

@using (Html.BeginForm("Save", "Items"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Items.Name)
        @Html.TextBoxFor(m => m.Items.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Items.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Items.CategoryId)
        @Html.DropDownListFor(m => m.Items.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Items.CategoryId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Items.Price)
        @Html.TextBoxFor(m => m.Items.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Items.Price)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/ bundles / jqueryval")
}